.friend {
  align-items: center;
  display: flex;
  height: 6rem;
  justify-content: space-between;
  max-width: 27.3rem;
  padding-left: 0.7rem;

  &:hover {
    background-color: $light-gray;
  }
}

.friend div {
  align-items: center;
  display: flex;
}

.friend img {
  border-radius: 50%;
}

.friend p {
  line-height: 1.5rem;
  padding-left: 0.7rem;
}

.friend button {
  background-color: transparent;
  padding-right: 0.7rem;
}
