.header {
  @include padding();

  align-items: center;
  background-color: $orange;
  border-radius: 1.2rem 1.2rem 0 0;
  color: $white;
  display: flex;
  height: $size;
  justify-content: space-between;

  &-button {
    background-color: transparent;
    border: 0;
  }
}
