{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "env": {
    "browser": true
  },
  "extends": "airbnb-base",
  "rules": {
    "no-param-reassign": "off",
    "prefer-destructuring": "off",
    "no-new": "off",
    "implicit-arrow-linebreak": "off",
    "no-alert": "off"
  }
}
