{
  "env": {
    "browser": true
  },
  "extends": ["airbnb-base", "prettier"],
  "rules": {
    "no-param-reassign": "off",
    "no-new": "off",
    "no-alert": "off",
    "prefer-destructuring": "off"
  }
}
