<li class="friend">
  <div class="friend-wrapper">
    <img width="45" height="45" src="https://via.placeholder.com/45x45">
    <p>Иришка Кочерышка</p>
  </div>
  <button class="friend-button">
    <i class="fa fa-plus" style=" color: #c4c4c4; font-size: 2.2rem;"></i>
  </button>
</li>
