html {
  font-size: 62.5%;
}

* {
  outline: none;
}

body {
  background-color: $gray;
  color: $black;
  font-family: 'Fira Sans', Arial, sans-serif;
  font-size: $normal;
  font-weight: 500;
}

h1 {
  font-size: $medium;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

h2 {
  color: $black;
  font-size: $normal;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}
